@keyframes bounce-right {
    0% {
        transform: translateX(0px);
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    10% {
        transform: translateX(-5px);
        animation-timing-function: ease-in-out;
    }
    20% {
        transform: translateX(5px);
        animation-timing-function: ease-in-out;
    }
    30% {
        transform: translateX(-5px);
        animation-timing-function: ease-in-out;
    }
    40% {
        transform: translateX(5px);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: translateX(5px);
        animation-timing-function: ease-in-out;
    }
    60% {
        transform: translateX(-5px);
        animation-timing-function: ease-in-out;
    }
    70% {
        transform: translateX(5px);
        animation-timing-function: ease-in-out;
    }
    80% {
        transform: translateX(-5px);
        animation-timing-function: ease-in-out;
    }
    90% {
        transform: translateX(0px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateX(0px);
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
}
.headerStyle{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 48px;
    max-width: 800px;
    max-height: 100px;
    margin: auto;
    margin-left: 7%;
    margin-right: 5%;
    .h1Style{
        position: relative;
    }
    .icons{
        width: 10%;
        height: 100%;
    }
    .iconsAfter{
        width: 10%;
        height: 100%;
        animation: bounce-right 0.8s both;
        svg > path:nth-child(0){
            stroke: #F67442;
            fill: #F67442;
            color: #F67442;
        }
    }
    .none{
        display: none;
    }
    .logoBlack{
        width: 50%;
        align-items: center;
    }
    svg{
        path:nth-child(2){
            fill: #F67442;
        }
    }
}
@media (prefers-color-scheme: light) {
	.logoBlack{
        width: 50%;
        align-items: center;
    }
}
@media (prefers-color-scheme: dark) {
	
	/* 다크 모드에 적용할 스타일 정의 */
}
@media (min-width: 1024px) {
    .headerStyle{
        margin: auto;
    }
}