.articleCard{
    display: flex;
    width: 80%;
    margin: 8px auto;
    flex-direction: row-reverse;
}
.articleImg{
    border-color: #ffffff;
    width: 85%;
    height: 180px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
    .gradation{
        position: relative;
        height: 10vh;
        top: -10vh;
        background: linear-gradient(0deg, rgba(54, 54, 54, 0.83) 61.46%, rgba(54, 54, 54, 0) 100%);
        h2 {
            position: relative;
            top: 1vh;
            margin:0 0 0 0.5rem;
            width: 100%;
            color: #ffffff;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: keep-all;   // 문단으로 끊어져서 줄바꿈 됨
        }
        .icons{
            position: absolute;
            left: 55vw;
            top: 5vh;
            color: #0096ED;
            width: 20%;
            height: 30%;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
}

