@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(60%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
.testObj {
    transition: 1s;
    position: relative;
    animation: fadeInRight 1s ease-in-out;
}
.searchSection{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.buttonGrid{
    display: flex;
    justify-content: space-around;
}
@media (min-width: 1024px) {
}