.container{
    height: 48px;
}
.BellBar {
    display: flex;
    height: 100%;
    width: 100%;
}
.goBack{
    height: 100%;

    .svg{
        width: 100%;
        height: 100%;
    }
}
.alert{
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin: auto;
    h1{
        margin: 0;
    }
}