.searchSection{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
}
.buttonGrid{
    display: flex;
    justify-content: space-around;
}
.goBack{
    display: flex;
    justify-self: center;
    width: 50%;
    height: 50%;
    
    svg{
        position: relative;
        width: 100%;
        height: 100%;
    }
}
.alert{
    width: 100%;
    position: relative;
    justify-content: center;
}
@media (min-width: 1024px) {
}