.buttonStyle{
    margin: 0;
    font-weight: 500;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #ffffff;
    color: #363636;
    height: 40px;
    border-color: #ffffff;
    border-width: 1px solid;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonStyle:hover {
    color: #0096ED;
}