.buttonStyle{
    margin: 0;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #ffffff;
    color: #363636;
    height: 40px;
    width: 70px;
    border-color: #ffffff;
    border-radius: 6px;
    border-color: 2px solid #363636;
    box-shadow: 1px 1px 1px 1px rgba(78, 78, 78, 0.25);
}
.buttonStyle:hover,
.buttonStyle:focus-within {
    color: #0096ED;
}