@keyframes alertAnmation{
    to{

    }
    from{

    }
}
.headerStyle{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 48px;
    max-width: 800px;
    max-height: 100px;
    margin: auto;
    margin-left: 7%;
    margin-right: 5%;
    .h1Style{
        position: relative;
    }
    .icons{
        width: 10%;
        height: 100%;
    }
    .iconsAfter{
        width: 10%;
        height: 100%;
        svg > path:nth-child(0){
            stroke: #F67442;
            fill: #F67442;
            color: #F67442;
        }
    }
}

@media (min-width: 1024px) {
    .headerStyle{
        margin: auto;
    }
}