// header
.newstopic {
    height: 29px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #363636;
    margin: 0 0.5rem;
}

.focus {
    font-weight: bold;
    color: #0096ED;
}

.main-page-tab {
    padding: 0 1rem;
    display: flex;
}

.main-page-tab-topic {
    display: flex;
    align-items: center;
    stroke-width: 1rem;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
.main-page-tab-topic::-webkit-scrollbar {
    display: none;
}

.main-page-tab-topic-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    padding: 0;
    color: #363636;
    svg {
        height: 100%;
        width: 100%;
    }
}

// contents

