.header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    height: 3rem;

    svg{
        place-self: center center;
        width: 2rem;
        height: 2rem;
    }

    .afterMarked {
        color: #FFD342;
        place-self: center center;
        background: radial-gradient(circle at 50%,#000, #fff 50%);
        width: 1.5rem;
        height: 1.5rem;
    }
    .beforeMarked {
        color: #0096ED;
        place-self: center center;
        width: 1.5rem;
        height: 1.5rem;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-weight: bold;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    place-content: start center;
    height: 100%;
    margin: 10%;
    h3 {
        color: #1A8917;
        font-weight: bold;
    }
}   