.Modalsection{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 90vh;
    opacity: 1;
    z-index: 1000;

    .container{
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        margin: auto;
        top: 30vh;
        width: 300px;
        height: 200px;
        z-index: 1000;
        text-align: center;
        box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
        .divGrid{
            height: 100%;
            p{
                position: relative;
                top: 5vh;
                color: #F67442;
                font-size: 1.4rem;
                height: 30%;
            }
        }
        .buttonGrid{
            display:flex;
            position: relative;
            top: 3vh;
            align-items: center;
            justify-content: space-evenly;
            height:50%;
            width: 100%;
        }
        
    }
}

