.container{
    position: absolute;
    top: 8vh;
    right: 2vw;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    opacity: 1;
    .buttonGrid{
        display: flex;
        flex-direction: column;
        button{
            margin-top: 5px;
        }
    }
}
