.searchSection{
    max-width: max-content;
    max-height: max-content;
    width: 100vw;
    height: 100vh;
}
.popularSearchTerms{
    position: relative;
    left: 2vh;
}
@media (min-width: 1024px) {
    .popularSearchTerms{
        top: 5vh;
        left: 25vw;
    }
}