.searchSection{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.popularSearchTerms{
    position: relative;
    left: 2vh;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 1024px) {
    .popularSearchTerms{
        top: 5vh;
        left: 25vw;
    }
}