@keyframes modalappear {
    from {
        width: 0;
    }
    to {
        width: min(60%, 600px);
    }
}
@keyframes modaldisappear {
    from {
        width: min(60%, 600px);
    }
    to {
        width: 0;
    }
}


.detailpage {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
    .header {
        position: fixed;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        justify-content: center;
        height: 3rem;
        background-color: #fff;
        svg{
            place-self: center center;
            width: 2rem;
            height: 2rem;
        }
    
        .afterMarked {
            color: #FFD342;
            place-self: center center;
            background: radial-gradient(circle at 50%,#000, #fff 50%);
            width: 1.5rem;
            height: 1.5rem;
        }
        .beforeMarked {
            color: #0096ED;
            place-self: center center;
            width: 1.5rem;
            height: 1.5rem;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            h4 {
                font-weight: bold;
            }
        }
    }
    
    .content {
        flex: 1;
        display: block;
        flex-grow: 1;
        place-content: start center;
        height: inherit;
        padding: 10%;
        overflow: scroll;
        // 개행문자 
        white-space: pre-line;
        h3 {
            color: #1A8917;
            font-weight: bold;
        }
        img {
            width: 100%;
        }
    }   

    > svg {
        position: fixed;
        display: flex;
        right: 6%;
        bottom: 10%;
        place-content: center center;
        width: 15%;
        max-width: 70px;
        height: 15vw;
        max-height: 70px;
        filter: drop-shadow(0px 4px 4px #36363640);
        clip-path: circle();
        background-color: #fff;
    }
    .direction {
        transform: rotate(0deg);
        transition: transform 0.5s;
    }

    .modalwindow {
        position: fixed;
        right: min(6% + 35px);
        bottom: 10%;
        width: 0;
        height: 15vw;
        max-height: 70px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 4px 4px #36363640;
        transition: all 500ms cubic-bezier(0.770, 0.085, 0.240, 0.945);
        > div {
            width: min(90%, 540px);
            height: 50%;
            display: flex;
            overflow: scroll;
            white-space: nowrap;
            > p {
                margin: 10px 2% 5px 2%;
            }
            > h5 {
                margin: 0 2% 10px 2%;
            }
        }
    }
}


