
@keyframes graphspread {
    from{
        width: 3vw;
        opacity: 0;
    }
    to{
        width: 30vw;
        opacity: 1;
    }
}

.mypage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    > div:nth-child(1) {
        align-self: center;
    }
    > div:nth-child(2) {
        display: flex;
        justify-content: space-around;
    }
}

