
@keyframes graphspread {
    from{
        width: 3vw;
        opacity: 0;
    }
    to{
        width: 30vw;
        opacity: 1;
    }
}

.mypage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    // justify-content: center;
    align-items: center;
    .content {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 80%;
        
    }
    .dropout{
        display: flex;
        margin: 5% auto 0 10%;
        button {
            margin: 0;
            font-weight: 500;
            font-size: medium;
            text-align: center;
            // text: #F67442;
            background-color: #fff;
            color: #363636;
            height: 40px;
            border-color: #fff;
            border-radius: 6px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }    
}

