.inputSytle{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.idInput{
    width: 50%;
}
.pwInput{
    width: 50%;
}
.checkBox{
    
}
.buttonGrid{

}
.hrStyles{
    border: 1px;
    border-style: dashed;
    width: 80%;
}
.snsGrid{

}
.modifyGrid{

}