.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.idInput{
    display: flex;
    height: 48px;
    width: 55%;
    border-radius: 4px;
    max-width: 500px;
    border: 0.5px;
    border-color: #363636;
    box-shadow: 3px 3px 3px 3px;
    input{
        flex-direction:row-reverse;
        height: 95%;
        margin-left: 5%;
        width: 70%;
        border: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        outline: none;
        
    }
    hr{
        margin: auto;
        height:90%;
        width: 0.5px;
        border-width:0;
        color:#363636;
        background-color:#363636;
    }
    .icons{
        margin: auto;
        height: 2em;
        width: 2em;
        color: #363636;
        .path{
            width: 100%;
            height: 100%;
            }
    }
}
.pwInput{
    display: flex;
    height: 48px;
    margin-top: 5%;
    width: 55%;
    border-radius: 4px;
    max-width: 500px;
    border: 0.5px;
    border-color: #363636;
    box-shadow: 3px 3px 3px 3px;
    .icons{
        margin: auto;
        height: 2em;
        width: 2em;
        color: #363636;
        .path{
            width: 100%;
            height: 100%;
            }
    }
    hr{
        margin: auto;
        height:90%;
        width:0.5px;
        border-width:0;
        color:#363636;
        background-color:#363636;
    }
    input{
        flex-direction:row-reverse;
        height: 95%;
        margin-left: 5%;
        width: 70%;
        border: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        outline: none;
    }
}
.checkBox{
    height: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    input{
        content:"";
        height: 50%;
        width: 10%;
    }
    label{
        font-size: 1.2rem;
    }
}
.buttonGrid{
    display: flex;
    margin-top: 5%;
}
.hrStyles{
    display: flex;
    border: 1px;
    border-style: dashed;
    width: 80%;
    max-width: 500px;
    margin-top: 5%;
}
.snsGrid{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.modifyGrid{
    display: flex;
    margin-top: 5%;
}
@media (min-width: 1024px) {
    .block{
        height: 150px;
        width: 100%;
    }
    .idInput{
        margin-top: 1%;
        max-width: 400px;
    }
    .pwInput{
        margin-top: 1%;
        max-width: 400px;

    }
    .checkBox{
        margin-top: 1%;
        max-width: 400px;
    }
    .buttonGrid{
        margin-top: 1%;
    }
    .hrStyles{
        margin-top: 1%;
    }
    .snsGrid{
        margin-top: 1%;
    }
    .modifyGrid{
        margin-top: 1%;
    }
}