.container{
    height: 48px;
}
.bellBar {
    display: flex;
    height: 100%;
    width: 100%;
}
.goBack{
    height: 100%;
    width: 10%;
    .svg{
        width: 200%;
        height: 200%;
    }
}
.alert{
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin: auto;
    h2{
        margin: 0;
        text-align: center;
    }
}
.deleteAlret{
    height: 100%;
    width: 10%;
}